extends includes/layouts/Guest.pug

block header
  - const pageTitle = 'Bảng điều khiển'

block pages
  .DashboardPage 
    .content.container-fluid
      .row 
        .col-lg-9
          +Card({})
            +Card({ className: 'mb-3', title: 'Xuất bản phẩm theo công đoạn' })
              .DashboardPage-total-cards.d-flex.flex-wrap
                each item in dataDashboardTotalCard
                  +DashboardTotalCard(item)

            .row.mb-3
              .col-lg-6
                +Card({ className: 'mb-3', noPadding: true, fullHeight: true })
                  .DashboardPage-birthday.d-flex.align-items-center.justify-content-center.flex-column 
                    +Avatar({ image: './assets/images/image-avatar.jpeg' })
                    .DashboardPage-birthday-text Chúc mừng sinh nhật
                    .DashboardPage-birthday-text Vũ Thu Trang


              .col-lg-6
                +Card({ className: 'DashboardPage-birthday-user mb-3', title: 'Sinh nhật sắp tới', iconHeader: 'bi bi-calendar-week', fullHeight: true, orange: true, noPadding: true })
                  +Table({})
                    tbody 
                      each item in [1,2,3,4,5]
                        tr 
                          td.text-center
                            .Table-order.birthday
                              span= `${item < 10 ? '0' : ''}${item}`
                          td.w-100
                            .DashboardPage-birthday-user.d-flex
                              +Avatar({ image: './assets/images/image-avatar.jpeg', online: true, size: 'avatar-sm' })
                              .DashboardPage-birthday-user-info 
                                .DashboardPage-birthday-user-info-title Nguyễn Thu Hoài
                                .DashboardPage-birthday-user-info-description Bộ phận: Biên tập
                          td 23/11
                  

            .row 
              .col-lg-6
                +Card({ className: 'mb-3', title: 'Việc quá hạn', fullHeight: true })
                  +Table({})
                    thead 
                      tr 
                        th.text-center #
                        th Tên sách
                        th Tác giả
                        th.text-center
                          <i class="bi bi-alarm"></i>
                    
                    tbody 
                      each item in [1,2,3,4,5,6,7,8,9,10]
                        tr 
                          td.text-center
                            .Table-order
                              span= `${item < 10 ? '0' : ''}${item}`
                          td 
                            .Table-link.ellipsis Thế giới bên trong bất động sản: Mua, bán và tạo lợi nhuận trong thị trường bất động sản.
                          td(style="color: #28A745").text-nowrap Phan Trọng Tuệ
                          td 23/11/22

              .col-lg-6
                +Card({ className: 'mb-3', title: 'Việc của bạn', fullHeight: true, noPadding: true })
                  .DashboardPage-job
                    each item in [1,2,3,4,5]
                      +JobCard({ dark: item % 2 === 0 })
                    

        .col-lg-3
          +Card({ className: 'mb-3', title: 'Nhân viên online gần đây', size: 'small', dark: true, noPadding: true })
            .DashboardPage-users 
              each item in [1,2,3,4,5]
                .DashboardPage-users-item.d-flex.align-items-center.justify-content-between
                  +Avatar({ image: './assets/images/image-avatar.jpeg', online: true, size: 'avatar-xs' })
                  .DashboardPage-users-item-title Nguyễn Thu Hoài

          +Card({ className: 'mb-3', title: 'Top việc quá hạn', size: 'small', dark: true, noPadding: true })
            +Table({})
              tbody 
                each item in [1,2,3,4,5]
                  tr 
                    td.text-center= item
                    td 
                      .Table-link.ellipsis Thế giới bên trong bất động sản: Mua, bán và tạo lợi nhuận trong thị trường bất động sản.