mixin Button({ className = '', variant = 'btn-success', type = 'button', size = 'middle', title, badge, icon, circle, modalId })
  button.Button.btn(class=`${className} ${!title && icon ? 'btn-icon' : ''} ${circle ? 'circle' : ''} ${variant} ${size} ${badge ? 'Button-badge' : ''}` type=`${type}` data-bs-toggle=modalId ? "modal" : false data-bs-target=modalId ? `#${modalId}` : false)
    if (icon)
      i(class=`${icon}`)

    =title