mixin FieldEditable({ title, attribute, id, header, accordionId = '', accordionParentId = '', defaultField = true })
  .FieldEditable.Accordion.accordion-item.border-0(class=`${header ? 'header' : ''}`)
    .FieldEditable-header.d-flex
      .FieldEditable-header-item.name= title
      .FieldEditable-header-item.type 
        = attribute
        if (!header)
          +Button({ title: defaultField ? 'Mặc định' : 'Tùy chỉnh', variant: defaultField ? 'btn-primary' : 'btn-success', badge: true })

      .FieldEditable-header-item.id
        = id

        if (!header)
          .FieldEditable-header-item-actions.d-flex.align-items-center.ms-auto
            +Button({ icon: 'bi bi-arrows-move', variant: 'btn-white' })
            +Button({ icon: 'bi bi-arrow-up-short', variant: 'btn-white' })
            +Button({ icon: 'bi bi-arrow-down-short', variant: 'btn-white' })
            +Button({ icon: 'bi bi-files', variant: 'btn-white' })
            +Button({ icon: 'bi bi-x-lg', variant: 'btn-white' })

          .FieldEditable-header-item-collapse.d-flex.align-items-center.ms-2
            +Button({ icon: 'bi bi-dash', variant: 'btn-ghost-white' })
            div(role="button" data-bs-toggle="collapse" data-bs-target=`#${accordionId}` aria-expanded="true" aria-controls=`${accordionId}`)
              +Button({ icon: 'bi bi-pencil-square', variant: 'btn-ghost-white' })


    .accordion-collapse.collapse(id=`${accordionId}` data-bs-parent=`#${accordionParentId}`)
      .accordion-body
        .FieldEditable-body
          if (defaultField)
            .row
              .col-6
                +Input({ label: 'Tiêu đề field', placeholder: '(Tự nhận theo thuộc tính đã chọn ở loại field hoặc gõ lại)' })
              .col-6
                .d-flex.align-items-end
                  +Select({
                    className: 'w-100',
                    label: 'Tên thuộc tính',
                    placeholder: 'Gõ tên thuộc tính để chọn (ví dụ: tên tác giả)',
                    options: [
                      { label: 'Tên thuộc tính 1', value: '1' },
                      { label: 'Tên thuộc tính 2', value: '2' },
                      { label: 'Tên thuộc tính 3', value: '3' },
                    ],
                    iconSuffix: 'bi bi-chevron-down',
                  })
                  +Button({ className: 'ms-3', variant: 'btn-primary', title: 'Thêm' })

          else
            .row 
              .col-12.mb-3
                +Input({ label: 'Tiêu đề field', placeholder: 'Chưa có tiêu đề' })
              .col-6.mb-3
                +Select({
                  label: 'Kiểu Field tùy chỉnh',
                  placeholder: '--- Chọn kiểu dữ liệu ---',
                  options: [
                    { label: 'Kiểu Field tùy chỉnh 1', value: '1' },
                    { label: 'Kiểu Field tùy chỉnh 2', value: '2' },
                    { label: 'Kiểu Field tùy chỉnh 3', value: '3' },
                  ],
                  iconSuffix: 'bi bi-chevron-down',
                })
              .col-6.mb-3
                +Input({ label: 'Text Gợi ý', placeholder: 'Nhập text Gợi ý', value: 'Mã XBP' })
              .col-6.mb-3
                +Select({
                  label: 'Người điền',
                  placeholder: '--- Chọn người điền ---',
                  options: [
                    { label: 'Người điền 1', value: '1' },
                    { label: 'Người điền 2', value: '2' },
                    { label: 'Người điền 3', value: '3' },
                  ],
                  iconSuffix: 'bi bi-chevron-down',
                })
              .col-6.mb-3
                +Checkbox({
                  classNameCheckbox: 'mt-2',
                  label: 'Có bắt buộc nhập?',
                  title: 'Có',
                })

