mixin Radio({ className = '', name = '', classNameRadio = '', labelId, size = 'middle', label = '', title, required })
  .Radio(class=`${className}`)
    if (label)
      label.form-label(for=`${labelId}`)
        = label
        if (required)
          span.required.ms-1 (*)

    .form-check(class=`${classNameRadio}`)
      input(type="radio" id=labelId || false name=`${name}`).form-check-input
      if (title)
        label.form-check-label.text-nowrap(for=labelId || false)= title
